<%- include('includes/header') %>
<body>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Productions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Settings</a>
    </li>
  </ul>
</body>
<%- include('includes/footer') %>
