<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/products.css" />

<body>
  <div>
    <div>Product page</div>
    <div><%=member.memberNick%></div>
  </div>
</body>

<%- include('includes/footer') %>
